<body>
    <div class="wrapper">
        <div class="form-box login">
            <h2>Forgot Password?</h2>
            <form [formGroup]="verificationForm" (ngSubmit)="verificationSubmit()">
                <div class="input-box">
                    <span class="icon"><mat-icon>mail</mat-icon></span>
                    <input type="email" formControlName="verification" required>
                    <label>Email</label>
                    <div class="form-text text-danger pt-2" *ngIf="verification.errors?.['required'] && (verification.touched || verification.dirty || invalid)">
                        Email is required
                    </div>
                    <div class="form-text text-danger pt-2" *ngIf="verification.errors?.['email'] && (verification.touched || verification.dirty)">
                        Email is Invalid
                    </div>
                </div>
                <button type="submit" class="bttn">Send verification Mail</button>
                <div class="login-register">
                    <p>Continue to Login? <a routerLink="/login" class="register-link">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</body>