<div style="width: 100%;height: 400px;background-color: rgb(204, 204, 204);margin-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12" style="display: flex;justify-content: center;align-items: center;min-height: 400px;flex-direction: column;">
                <img src="../../../../assets/img/navImg.png" alt="" width="300px">
                <p style="font-family: Georgia, 'Times New Roman', Times, serif;font-size: 25px;color: black;">We build you Home, Not House</p>
            </div>
            <div class="col-md-6 col-12" style="display: flex;justify-content: center;align-items: center;min-height: 400px;flex-direction: column;">
                <div style="width: 60%;font-family: Georgia, 'Times New Roman', Times, serif;">
                    <h3>globalarchi@gmail.com</h3>
                    <p>7025051202</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis modi id, quaerat iste corrupti illo nemo exercitationem neque eius a quae ipsa, aperiam, blanditiis repellendus enim ea tenetur animi dolorum?</p>
                </div>
            </div>
        </div>
    </div>
</div>