<app-pro-nav></app-pro-nav>
<div class="proimg">
    <div class="proinside">
        <div class="proinsidecontent">
            <h1>Showcase Your Architectural Vision</h1>
            <p>Elevate your architectural firm to new heights by becoming part of our exclusive platform dedicated to celebrating innovation and excellence in the world of 
                architecture. Gain unparalleled exposure and connect with a global audience of design enthusiasts, potential clients, and industry peers. Market your firm's 
                unique vision, past accomplishments, and future aspirations through captivating profiles and project showcases. Unleash the power of our platform to propel 
                your architectural endeavors to the forefront of the industry. Embrace the opportunity to inspire, collaborate, and flourish within our esteemed community 
                of visionary architects.Engage with millions of potential customers, build your authority and impact buying decisions on the #1 platform for home renovation 
                and design. 
                  
            </p>
            <a routerLink="/pro/addbasicinfo" class="btn btn-primary pe-5 ps-5">Add Firm</a>
        </div>
    </div>
</div>