.proimg{
    background: url('../../../../assets/img/prohome.jpg') no-repeat;
    height: 950px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.proinside{
    width: 80%;
    height: 85%;
    background: rgba(0, 0, 0, .6);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;text-align: center;
}
.proinsidecontent{
    width: 65%;
}
.proinsidecontent h1{
    padding-bottom: 30px;
}