<app-adminnav></app-adminnav>
<div class="row">
    <div class="col-md-3 col-12 sidebar">
        <app-adminsidebar></app-adminsidebar>
    </div>
    <div class="col-md-9 col-12">
        <div class="mx-auto">
            <form [formGroup]="basicinfoForm" (ngSubmit)="basicinfoSubmit()" class="tablelist form">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Professional/Company Name *</label>
                      <input type="text" id="form6Example1" formControlName="companyname" class="form-control inputclr" value="{{companyname2}}" />
                      <div class="form-text text-danger pt-2" *ngIf="companyname.errors?.['required'] && (companyname.touched || companyname.dirty || invalid)">
                        Company name is required
                    </div>
                    <div class="form-text text-danger pt-2" *ngIf="companyname.errors?.['minlength'] && (companyname.touched || companyname.dirty)">
                        Companyname is Short
                    </div>
                    <div class="form-text text-danger pt-2" *ngIf="companyname.errors?.['maxlength'] && (companyname.touched || companyname.dirty)">
                        Companyname is Long
                    </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">City</label>
                      <input type="text" id="form6Example2" formControlName="city" class="form-control inputclr" value="{{city2}}" />
                      <div class="form-text text-danger pt-2" *ngIf="city.errors?.['required'] && (city.touched || city.dirty || invalid)">
                        City is required
                    </div>
                    </div>
                  </div>
                </div>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Mobile</label>
                        <input type="text" id="form6Example1" formControlName="mobile" class="form-control inputclr" value="{{mobile2}}" />
                        <div class="form-text text-danger pt-2" *ngIf="mobile.errors?.['required'] && (mobile.touched || mobile.dirty || invalid)">
                            Mobile is required
                        </div>
                        <div class="form-text text-danger pt-2" *ngIf="mobile.errors?.['minlength'] && (mobile.touched || mobile.dirty) && !mobile.errors?.['pattern']"> 
                          Mobile is too Short.
                      </div>
                      <div class="form-text text-danger pt-2" *ngIf="mobile.errors?.['maxlength'] && (mobile.touched || mobile.dirty) && !mobile.errors?.['pattern']"> 
                          Mobile is too Long.
                      </div>
                      <div class="form-text text-danger pt-2" *ngIf="mobile.errors?.['pattern'] && (mobile.touched || mobile.dirty)"> 
                          Mobile should be in Numbers.
                      </div>
                      </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">State</label>
                      <input type="text" id="form6Example2" formControlName="state" class="form-control inputclr" value="{{state2}}" />
                      <div class="form-text text-danger pt-2" *ngIf="state.errors?.['required'] && (state.touched || state.dirty || invalid)">
                        State is required
                    </div>
                    </div>
                  </div>
                </div>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example1">Address *</label>
                      <input type="text" id="form6Example1" formControlName="address" class="form-control inputclr" value="{{address2}}" />
                      <div class="form-text text-danger pt-2" *ngIf="address.errors?.['required'] && (address.touched || address.dirty || invalid)">
                        Address is required
                    </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">Country</label>
                      <input type="text" id="form6Example2" formControlName="country" class="form-control inputclr" value="{{country2}}" />
                      <div class="form-text text-danger pt-2" *ngIf="country.errors?.['required'] && (country.touched || country.dirty || invalid)">
                        Country is required
                    </div>
                    </div>
                  </div>
                </div>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form6Example2">PIN Code</label>
                        <input type="text" id="form6Example2" formControlName="pincode" class="form-control inputclr" value="{{pincode2}}" />
                        <div class="form-text text-danger pt-2" *ngIf="pincode.errors?.['required'] && (pincode.touched || pincode.dirty || invalid)">
                            Pincode is required
                        </div>
                        <div class="form-text text-danger pt-2" *ngIf="pincode.errors?.['minlength'] && (pincode.touched || pincode.dirty)">
                            Pincode is Short
                        </div>
                        <div class="form-text text-danger pt-2" *ngIf="pincode.errors?.['maxlength'] && (pincode.touched || pincode.dirty)">
                            Pincode is Long
                        </div>
                      </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                        <label for="formFileLg" class="form-label">Upload Profile picture</label>
                        <input class="form-control form-control-lg" formControlName="image" id="formFileLg" type="file" (change)="onFileSelected($event)" name="image" />
                        <div class="form-text text-danger pt-2" *ngIf="image.errors?.['required'] && (image.touched || image.dirty || invalid)">
                            Image is required
                        </div>
                    </div>
                  </div>
                </div>
              
                
                <!-- Submit button -->
                <div class="text-center">
                    <button routerLink="/admin/firmlist" class="btn btn-dark mb-4 mt-4 pe-5 ps-5 pt-2 pb-2 me-2">Go Back</button>
                    <button type="submit" class="btn btn-dark mb-4 mt-4 pe-5 ps-5 pt-2 pb-2">Continue</button>
                </div>
              </form>
        </div>
    </div>
</div>