<div class="container sidebar">
    <div class="col-md-8 mx-auto" style="padding-top: 150px;">
        <div style="display: flex;padding-bottom: 10px;">
            <span class="icon pe-3"><mat-icon>lock</mat-icon></span>
            <a class="link" routerLink="/admin">Dashboard</a>
        </div>
        <div class="dropdown" style="display: flex;">
            <div>
                <span class="icon pe-3"><mat-icon>image</mat-icon></span>
            </div>
            <div>
                <a class="link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Banner</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/admin/addbanner">Add Banner</a>
                    <a class="dropdown-item" routerLink="/admin/listbanner">List Banner</a>
                </div>
            </div>
        </div>
        <div style="display: flex;padding: 10px 0 0 0;">
            <span class="icon pe-3 "><mat-icon>engineering</mat-icon></span>
            <a class="link" routerLink="/admin/professionallist">Professionals</a>
        </div>
        <div style="display: flex;padding: 10px 0 0 0;">
            <span class="icon pe-3 "><mat-icon>person</mat-icon></span>
            <a class="link" routerLink="/admin/userlist">Users</a>
        </div>
        <div style="display: flex;padding: 10px 0 0 0;">
            <span class="icon pe-3 "><mat-icon>apartment</mat-icon></span>
            <a class="link" routerLink="/admin/firmlist">Firms</a>
        </div>
        <div style="display: flex;padding: 10px 0 0 0;">
            <span class="icon pe-3 "><mat-icon>badge</mat-icon></span>
            <a class="link" routerLink="/admin/bookings">Bookings</a>
        </div>
    </div>
</div>  