<app-adminnav></app-adminnav>
<div class="row">
    <div class="col-md-3 col-12 sidebar" >
        <app-adminsidebar></app-adminsidebar>
    </div>
    <div class="col-md-9 col-12">
        <div class="container mx-auto" style="overflow-x:auto;">
            <table class="table table-striped tablelist">
                <thead>
                  <tr>
                    <th scope="col">SI</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Blocked</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody *ngIf="(usersList$ | async) as userdata">
                  <tr *ngFor="let user of userdata;let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.mobile}}</td>
                    <td>{{user.is_blocked}}</td>
                    <td>
                        <button *ngIf="user.is_blocked == false" class="btn btn-danger pt-1 pb-1 pe-5 ps-5" (click)="blockUser(user._id)">Block</button>
                        <button *ngIf="user.is_blocked == true" class="btn btn-warning pt-1 pb-1 pe-5 ps-5" (click)="unBlockUser(user._id)">Unblock</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>  
    </div>
</div>