<app-pro-nav></app-pro-nav>
<div class="container" style="font-family: Georgia, 'Times New Roman', Times, serif;">
    <div class="col-md-12 blank"></div>
    <button (click)="editsingleproject()" class="btn btn-success pe-5 ps-5">Edit Project</button>
    <div class="col-md-12">
        <h2 style="margin-top: 40px;margin-bottom: 20px;">Project Name: {{projectname}}</h2>
        <p style="margin: 0;color: grey;">Address: {{projectaddress}}</p>
        <p style="margin: 0;">year: {{projectyear}}</p>
        <p style="margin: 0;">Cost: {{projectcost}}</p>
        <p>Link: {{projectlink}}</p>
    </div>
    <div class="row">
        <h4 style="margin: 50px 0 20px 0;color: #ac9b7a;">Projects</h4>
        <div  *ngFor="let img of image" class="col-md-4 col-12 mt-5" style="height: 300px;">
            <div class="col-md-8 mx-auto" style="height: 300px;">
                <div class="col-md-12" style="height: 300px;">
                    <a><img class="firmimg" src="https://globalarchi.online/file/{{img}}" alt="No img" style="object-fit: cover;width: 100%;height: 300px;"></a>
                </div>
            </div>
        </div>
    </div>
</div>