<div style="width: 100vw;height: 100vh;background: url('../../../assets/img/pexels-yentl-jacobs-157811.jpg') no-repeat;background-size: cover;">
    <div style="height: 100vh;width: 100vw;background-color: rgba(0, 0, 0, 0.3);display: flex;flex-direction: column;align-items: center;padding-top: 100px;">
        <div class="paradiv" style="text-align: center;">
            <p style="font-family: Georgia, 'Times New Roman', Times, serif;color: white;font-weight: 900;font-size: 300px;text-shadow: 5px 5px 50px;" class="para">404</p>
            <p style="font-family: Georgia, 'Times New Roman', Times, serif;font-size: 100px;color: white;text-shadow: 5px 5px 50px;" class="para2">page not found!</p>
        </div>
    </div>
</div>