<app-adminnav></app-adminnav>
<div class="row">
    <div class="col-md-3 col-12 sidebar" >
        <app-adminsidebar></app-adminsidebar>
    </div>
    <div class="col-md-9 col-12" style="margin-top: 150px;">
        <div class="container mx-auto" style="overflow-x:auto;">
            <table class="table table-striped tablelist">
                <thead>
                  <tr>
                    <th>Si</th>
                    <th>Professional</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Place</th>
                    <th>Pincode</th>
                    <th>Payment Status</th>
                    <th>date</th>
                  </tr>
                </thead>
                <tbody *ngIf="(bookingList$ | async) as bookingdata">
                  <tr *ngFor="let data of bookingdata;let i = index">
                    <td>{{i+1}}</td>
                    <td>{{data.professional}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.mobile}}</td>
                    <td>{{data.place}},{{data.state}},{{data.country}}</td>
                    <td>{{data.pincode}}</td>
                    <td *ngIf="data.status==true" style="color: green;">Success</td>
                    <td *ngIf="data.status==false" style="color: red;">Failed</td>
                    <td><strong>{{data.date}}</strong></td>
                  </tr>
                </tbody>
              </table>
        </div>  
    </div>
</div>