<li class="p-2 border-bottom" (click)="fullchat(data.connections.professional._id,data.connections.professional.name,data.connections.professional.image)" style="background-color: #eee;">
    <a class="d-flex justify-content-between">  
      <div class="d-flex flex-row">
        <img src="http://localhost:3000/file/{{data.connections.professional.image}}" alt="avatar"
          class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60" height="60">
        <div class="pt-1">
          <p class="fw-bold mb-0">{{data.connections.professional.name}}</p>
          <p class="small text-muted">.....</p>
        </div>
      </div>
      <div class="pt-1">
        <!-- <p class="small text-muted mb-1">Just now</p>
        <span class="badge bg-danger float-end">1</span> -->
      </div>
    </a>
  </li>