<app-pro-nav></app-pro-nav>
<div class="padding">
    <div class="col-md-8">
        <!-- Column -->
        <div class="card"> <img class="card-img-top" src="../../../../assets/img/homeImg3.jpg" alt="Card image cap" style="width: 100%;object-fit: cover;">
            <div class="card-body little-profile text-center">
                <div class="pro-img"><img src="https://globalarchi.online/file/{{image}}" alt="user"></div>
                <h3 class="m-b-0">{{name}}</h3>
                <h3 class="m-b-0">{{email}}</h3>
                <p>{{mobile}}</p>
            </div>
        </div>
    </div>
</div>