<app-usernav></app-usernav>
<div class="body">
    <main class="table">
        <section class="table__header">
            <h1>Review</h1>
        </section>
        <section class="table__body">
            <form [formGroup]="reviewForm" (ngSubmit)="reviewSubmit()">
                <div class="star-rating text-center">
                    <ng-container *ngFor="let star of stars; let i = index">
                      <span
                        class="star"
                        [class.filled]="i < selectedRating"
                        [class.clicked]="i < hoveredRating"
                        (click)="onStarClick(i + 1)"
                        (mouseenter)="onStarHover(i + 1)"
                        (mouseleave)="onStarHoverEnd()"
                      >
                        &#9733;
                      </span>
                    </ng-container>
                  </div>
                    <div class="form-group container mx-auto form-group" style="display: flex;justify-content: center;align-items: center;flex-direction: column;height: 100%;">
                        <input type="text" formControlName="name" name="name" placeholder="Add Name" style="background-color: rgb(222, 220, 220);padding: 10px 20px 10px 20px;border: 1px solid black;border-radius: 10px;width: 60%;">
                    <div class="form-text text-danger pt-2" *ngIf="name.errors?.['required'] && (name.touched || name.dirty || invalid)"> 
                        Name is required.
                    </div>
                    </div>
                    <div class="form-group container mx-auto form-group" style="display: flex;justify-content: center;align-items: center;flex-direction: column;height: 100%;">
                        <input type="text" formControlName="review" name="review" placeholder="Add Review" style="background-color: rgb(222, 220, 220);padding: 10px 20px 10px 20px;border: 1px solid black;border-radius: 10px;width: 60%;">
                    <div class="form-text text-danger pt-2" *ngIf="review.errors?.['required'] && (review.touched || review.dirty || invalid)"> 
                        review is required.
                    </div>
                    <button type="submit" class="bttn">Add Review</button>
                </div>
            </form>
            </section>
    </main>
</div>